@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Ubuntu:wght@500&display=swap');


* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f7f7f7;
  margin: 0px;
  display: flex;
}

.music-list__body {
  margin: 50px 20px;
  height: 100vh;
  width: 55vh;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
  padding-top: 30px;
}

.music-list-singer__img {
  display: flex;
  justify-content: center;
}

.music-list-singer__img img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0px 5px 5px 0px;
}

.music-list-singer__details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.music-list-singer__details {
  position: relative;
}
.music-list-singer__details h1 {
  font-family: 'Nunito', sans-serif;
}
.music-list-singer__details h3 {
  position: absolute;
  top: 50px;
  opacity: 0.4;
  font-family: 'Nunito', sans-serif;
}

.middle-btn {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 55px;
}

.middle-btn__name {
  background-color: black;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
}

.middle-btn__heart-like {
  background-color: white;
  padding: 15px 40px;
  border-radius: 30px;
  box-shadow: 0px 1px 1px 1px;
}

.main__frame {
  margin: 50px 40px 10px 40px;
}

.main-list__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.main-list__cover img  {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.main-list__songname h3,
.main-list__songname h4 {
font-family: 'Nunito', sans-serif;
}

.main-list__songname h4 {
  opacity: 0.4;
}

.main-list__icon i {
  opacity: 0.4;
}

.main-list__cover {
  position: relative;
}
.fa-music {
  position: absolute;
  left: 20px;
  bottom: 25px;
  color: white;
}

.main-list__cover2 {
  filter: brightness(50%); 
}

.main-list__frame2 {
  background-color: white;
  box-shadow: 1px 2px 2px 0px;
  border-radius: 20px;
  padding: 0px 30px;
  margin: 0px -30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main-list__cover {
  position: relative;
}
.main-list__animation-frame {
  position: absolute;
  display: flex;
  bottom: 25px;
  left: 18px;
}

.main-list__animation {
  height: 30px;
  width: 8px;
  background-color: white;
  margin: 0px 3px;
  border-radius: 30px;
  animation: main-list__animation 0.6s ease-in-out infinite;
}

.square1 {
  animation-delay: 0.1s;
}
.square2 {
  animation-delay: 0.5s;
}
.square3 {
  animation-delay: 0.2s;
}

@keyframes main-list__animation {
  0% {
    transform: scaleY(1);
 }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  75% {
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(1);
  } 
}
.middle-btn__shuffle-heart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Nunito', sans-serif;
}

.middle-btn__shuffle { 
  height: 50px;
  width: 120px;
  border-radius: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.middle-btn__heart-icon {
  height: 50px;
  width: 130px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.middle-btn__heart-icon span {
  opacity: 0.4;
}

.footer-play__frame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 50px;
  color: white;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.foot-play__icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

.footer-music__play {
  font-family: 'Nunito', sans-serif;
}

.footer-music__play h3 {
  color: gray;
}

i:active {
  color: yellow;
}

/*Main body2*/

.main2-play-cover__picture {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.main2-play-cover__picture img {
  border-radius: 5px;
  box-shadow: rgba(136, 136, 136, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.main2-title__songname {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  position: relative;
  margin-top: 120px;
}

.main2-title__songname h2 {
  opacity: 0.4;
}

.main2-title__songname h1 {
  position: absolute;
  bottom: 40px;
}

.main2-play__time {
  display: flex;
  justify-content: space-between;
  margin: 60px 40px 10px 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  opacity: 0.5;
}

.main2-play-progress__bar-frame {
  height: 7px;
  margin: 20px 40px;
  cursor: pointer;
  border-radius: 40px;
  background-color: #f0f0f0;
}

.main2-play-progress__bar {
  height: inherit;
  width: 47%;
  border-radius: inherit;
  background-color: blue;
  background-image: linear-gradient(90deg, pink, violet);
  position: relative;
}

.main2-play-progress__bar span {
  display: flex;
  height: 15px;
  width: 15px;
  background-color: violet;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 92%;
}

.footer2__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 30px;
}

.footer2-paly__btn {
  height: 50px;
  width: 50px;
  background-color: pink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.footer2__btn-reapeat-shuffle {
  opacity: 0.3;
}

.footer2__btn-back-forward {
  color: pink;
}