.nav__icons {
  display: flex;
  justify-content: space-around;
  background-color: #fcf1f7;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
}

.nav__icons a > img {
  height: 40px;
  width: 40px;
}